body {
    background-color: chartreuse;
}
h1 {
    color: rgb(221, 74, 16);
    margin-right: 30px;
}

.img-sunglassess {
    width: 100px;
    
}

.flex-parent {
    display: flex;

    border: solid 1px green;
    padding: 20px;
} 

.flex-item {

    border: dotted 2px red;
    padding: 20px;
}

button#hamburgerbtn {
background: none;
border: none;
color: #fff;
font-size: 2.4rm;
cursor: pointer;
padding: 0 30px 0 2vw;
}

nav {background-color: #23cfa7;}
nav ul {margin: 0; padding: 0;}
nav ul li {list-style-type: none;}
nav a {
    display: block;
    padding: .8rem 0;
    text-align: center;
    text-decoration: none;
}
nav li.active {background-color: rgba(0,0,0,0.5;}
nav a:hover {background-color: rgba(0,0,0,0.2;}
nav ul.open {display:block}
nav ul {display:none;}




footer {
    background-color: #9b87b8;}