body {
    background-color: chartreuse;
}
h1 {
    color: rgb(221, 74, 16);
    margin-right: 30px;
}

.img-sunglassess {
    width: 100px;
    
}

.flex-parent {
    display: flex;

    border: solid 1px green;
    padding: 20px;
} 

.flex-item {

    border: dotted 2px red;
    padding: 20px;
}